.bg-login-image,
.bg-register-image {
  border-radius: 0 5px 5px 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f8ff !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

.footer {
  background-color: #f5f8ff;
  padding: 1rem 0;
  margin-top: auto !important;
}

.sticky-footer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
